*{
  box-sizing: border-box;
}

/* Body styling starts here */
body{
  font-family: "poppins", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/banner-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: unset;
}
/* Body styling ends here */

/* --------------------------------------------- */

/* Navigation styling starts here */
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #000000;
  padding: 0 15px;
  margin: unset;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo-container{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
  }
}

.logo{
  max-width: 80%;
  max-height: 30%;
}

.nav-links-container{
  width: auto;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.nav-bar .nav-links-container .nav-links{
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: space-evenly;
  align-items: center;
  li{
    list-style: none;
    a{
      font-size: 15px;
      text-decoration: none;
      font-weight: 400;
      color: #ffffff;
      &:hover{
        color: #c9f31d;
      }
    }
  }
}

.nav-bar-sub-container-2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: auto;
  height: 100%;
}

.let-talk{
  background-color: #c9f31d;
  max-height: 45%;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 5px;
  a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 100%;
  }
}
.fa-bars-container{
  background-color: #ffffff;
  width: 20%;
  max-height: 45%;
  height: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px;
  &:hover{
    cursor: pointer;
  }
}
/* Navigation styling ends here */

/*--------------------------------------------*/

/* Main styling starts here */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Main styling ends here */

/*--------------------------------------------*/

/* Hero Section styling starts here */
.hero-section{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: auto;
  padding: 0 10px;
  margin: 20px 0 0 0;
  /* background-color: green; */
}
.hero-section-sub-container-1,
.hero-section-sub-container-2{
  display: flex;
  width: auto;
  height: 100%;
  margin-bottom: 0;
  /* background-color: red; */
}
.hero-section-aside{
  display: none;
  flex-direction: column;
  gap: 80px;
}
.hero-section-sub-container-1-child-2{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  /* gap: 30px; */
  /* border: 1px solid green; */
}
.para-vertical-orientation-container{
  text-orientation: mixed;
  writing-mode: vertical-lr;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  img{
    padding: 0;
  }
  p{
    color: white;
    padding: 0;
  }
}
.hero-section-main-para-container{
  width: 100%;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
  a{
    text-decoration: none;
  }
  &:hover{
    border-bottom-color:#B0DA08;
    p{
      color:#B0DA08;
    }
  }
}
.hero-section-main-para{
  color: #ffffff;
  font-size: 16px;
  span{
    font-size: 20px;
  }
}
.hero-section-main-para-2{
  line-height: 0;
}
.hero-section-1st-h1-container{
  padding: 0;
  /* border: 1px solid blue; */
}
#hero-section-1st-h1{
  color: white;
  font-size: 30px;
  margin: 0;
}
#hero-section-2nd-h1{
  font-size: 30px;
  margin-top: -10px;
  padding: 0;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  position: relative;
  transition: all 0.1s;
}
#hero-section-2nd-h1::before{
  content: 'Designer';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #B0DA08;
  position: absolute;
  overflow: hidden;
  color: #B0DA08;
  width: 0px;
  animation: designer-sweeping-animation 10s ease-in-out infinite;
}
@keyframes designer-sweeping-animation {
  0%{
    width: 0;
  }
  5%{
    width: 30%;
  }
  10%{
    width: 0;
  }
  20% {
    width: 10%;
  }
  30%{
    width: 30%;
  }
  40%{
    width: 40%;
  }
  50%{
    width: 50%;
  }
  560%{
    width: 60%;
  }
  70%{
    width: 70%;
  }
  80%{
    width: 80%;
  }
  90%{
    width: 90%;
  }
  100% {
    width: 0;
  }
}
.animated-video-btn-container{
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
  p{
    color: #ffffff;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
}
.animated-video-btn-container-child{
  padding:0;
  margin: 5px;
  width: auto;
  /* border: 1px solid blue; */
}
.arrow-img-animate{
  animation: bn-arrow-animation 2s infinite linear;
  height: 45px;
}
@keyframes bn-arrow-animation {
  0%{
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(5deg);
  }
}
.video-div-main-parent{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  /* box-shadow: 1px 1px 2px rgba(0,0,0,0.2); */
  animation: circle-animate 2s infinite linear forwards;
}
.video-div-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 98%;
  height: 98%;
  border: 1px solid #ffffff;
  /* background-color: white; */
  border-radius: 50%;
  /* box-shadow: 1px 1px 2px rgba(0,0,0,0.2); */
  animation: none;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}
.fa-play{
  color: white;
  font-size: 30px;
}
@keyframes circle-animate {
  0%{
    opacity: 1;
    transform: scale(0.5);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
    transform: scale(1);
  }
}
#no-animation{
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}
#no-animation,.video-div-parent{
  animation: fixed 2s infinite linear forwards;
}
@keyframes fixed {
  0%{
    opacity: 0;
    transform: scale(1.5);
  }
  50%{
    opacity: 0.5;
    transform: scale(1);
  }
  100%{
    opacity: 1;
    transform: scale(0.5);
  }
}
.hero-section-sub-container-2{
  width: 30%;
  height: 100%;
  /* border: 1px solid blue; */
}
#hero-section-img-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  img{
    width: 100%;
    height: 100%;
  }
}
.social-links-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  div{
    width: 45px;
    height: 45px;
    background-color:#141410;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
  }
}
/* Hero Section styling ends here */

/*--------------------------------------------*/

/* Marquee Section styling starts here */
.first-marquee-section{
  width: 100%;
  padding: 0;
  margin: unset;
  display: flex;
  justify-content: stretch;
  align-items:center;
  background-color: blue;
}

.first-marquee-section > marquee{
  background-color: #B0DA08;
  width: 100%;
  height: 80px;
  margin: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Marquee Section styling ends here */

/*--------------------------------------------*/

/* About Section styling starts here */
.about-section{
  background-color: #141410;
  width: 100%;
  height: auto;
  padding: 130px 20px 90px 20px;
  margin: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section-child{
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section-child-2 > h1{
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.about-section-child-3{
  flex-wrap: wrap;
  padding-top: 40px;
  gap: 20px;
}
.bio-data-button{
  background-color: #1B1B1C;
  color: white;
  font-size: 15px;
  width: auto;
  height: 100%;
  padding: 15px 17px;
  border: none !important;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: #B0DA08;
    color: #000000;
  }
}
/* About Section styling ends here */

/*--------------------------------------------*/

/* Info Display Section styling starts here */
.about-info-display-section{
  background-color: #141410;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.about-info-display-section-sub-container{
  background-image: url(/assets/images/about-bg.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
  width: 97%;
  padding: 30px 10px 60px 10px;
}
.about-info-display-section-sub-container-child-1{
  width: 100%;
  img{
    width: 90%;
    height: 90%;
  }
}
.about-info-display-section-sub-container-child-2{
  width: 100%;
}
.about-info-display-section-sub-container-child-2-child-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}
.h1-white-44px{
  color: #ffffff;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 0px;
}
.about-info-display-section-sub-container-child-2-child-1 > p{
  color: rgb(128, 121, 121);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}
.about-info-display-section-sub-container-child-2-child-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.about-info-display-section-sub-container-child-2-child-2-flex-childs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.contacts-container{
  background-color: #1B1B1C;
  /* background-color: #18171B; */
  width: 100%;
  height: 155px;
  padding-left: 40px;
  border: 1px solid #1B1B1C;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: border ease-in-out 1s;
  &:hover{
    border: 1px solid #B0DA08;
  }
}
.email,#phone,.address,#follow{
  color: rgb(128, 121, 121);
  font-size: 18px;
  font-weight: 500;
}
.contacts-details{
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
/* Info Display Section styling ends here */

/* Awards Section styling starts here */
.awards{
  background-image: url(/assets/images/about-bg.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 15px 100px 15px;
  h1{
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 13px;
  };
}
.awards-section-sub-container-1{
  padding-bottom: 0;
  div{
    width: 30%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
#awards-s-sub-c-1-child-3-para{
  display: flex;
  justify-content: flex-end;
}
#awards-section-sub-container-1-para{
  a{
    display: flex;
    color: #B0DA08;
    gap: 3px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-decoration: none;
    font-size: 13px;
    span{
      margin: 0;
      padding: 0;
    }
  }
}
.awards-section-sub-container{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(55, 59, 72);
  align-items: center;
  padding: 15px 0;
  p{
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    display: flex;
  }
}
.p-width-40px{
  width: 40%;
}
.p-width-20px{
  width: 20%;
}
.flex-end{
  justify-content: flex-end;
}
/* Awards Section styling ends here */

/* Complete Project Section styling starts here */
.complete-project-section{
  background-color: #141410;
  width: 100%;
  padding: 90px 5px 100px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.complete-project-section-sub-container-1{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
  h2{
    color: #B0DA08;
    margin-bottom: 5px;
    font-weight: 400;
  }
}
.complete-project-section-sub-container-2{
  width: 95%;
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  h1{
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    margin-top: 5px;
  }
}
.complete-project-section-sub-container-3{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.complete-project-section-sub-container-3-child{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.img-card{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  p{
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #B0DA08;
  }
  &:hover{
    span{
      background-color: #B0DA08;
      a{
        color: black;
      }
    }
  }
}
.img-card > img{
    align-self: center;
    width: 95%;
    height: 95%;
    transition: width ease-in-out 0.3s, height ease-in-out;
    &:hover{
      width: 100%;
      height: 100%;
    }
  }
.h1-white-30px{
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
  margin-top: 0;
  padding-left: 15px;
  width: 98%;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    background-color: #1B1B1C;
    width: 10%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 0 10px;
    a{
      text-decoration: none;
      color: #ffffff;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.animated-yellow-circle-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #B0DA08;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  position: relative;
  margin-top: 65px;
}
.animated-yellow-circle-container-child{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #B0DA08;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: 10px;
      left: 10px;
      transition: top ease-in-out 0.3s, right ease-in-out 0.3s;
      &:hover{
        top: 10px;
        right: 10px;
      }
      a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #000000;
        width: 100%;
        height: 100%;
      }
    }
.animated-yellow-circle-container-child-1st-para{
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
.animated-yellow-circle-container-child-2nd-para{
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  margin-top: 0;
}
/* Complete Project Section styling ends here */


/* Need A Project Section styling starts here */
.need-a-project-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  background-image: url(/assets/images/about-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 70px 12px 100px 12px;
}
.need-a-project-section-sub-container-1{
  width: 100%;
}
.need-a-project-section-sub-container-1-child-1{
  width: 100%;
    h2{
      color:#B0DA08 ;
      font-weight: 400;
    }
}
.need-a-project-section-sub-container-1-child-2{
  width: 100%;
  border-bottom: 1px solid rgb(55, 59, 72);
  h1{
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
    width: 100%;
    line-height: 35px;
  }
}
.need-a-project-section-sub-container-1-child-3{
  width: 100%;
  border-bottom: 1px solid rgb(55, 59, 72);
}
.need-a-project-section-sub-container-1-child-3-child-1,.need-a-project-section-sub-container-1-child-3-child-2{
  width: 100%;
  border-bottom: 1px solid rgb(55, 59, 72);
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 30px;
  span{
    background-color:#B0DA08 ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  p{
    a{
      text-decoration: none;
    }
  }
  &:hover{
    border-bottom: 1px solid #B0DA08;
  }
}
.need-a-project-section-sub-container-2{
  width: 100%;
  img{
    width: 100%;
    height: auto;
  }
}
/* Need A Project Section styling ends here */

/* Provided Services Section styling starts here */
.provided-services-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #141410;
  padding: 90px 10px 120px 10px;
}
.provided-services-section-sub-container-1{
  width: 100%;
  display: flex;
  justify-content: center;
  h2{
    color:#B0DA08;
    font-weight: 400;
  }
}
.provided-services-section-sub-container-2{
  width: 100%;
  display: flex;
  justify-content: center;
  h1{
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 5px;
    width: 100%;
    line-height: 40px;
  }
}
.provided-services-section-sub-container-3{
  width: 100%;
  a{
    text-decoration: none;
  }
}
.provided-services-section-sub-container-3-child-1{
  border-top: 1px solid rgb(55, 59, 72);
  &:hover{
    border-top: 1px solid #B0DA08;
  }
}
.provided-services-section-sub-container-3-child-1,
.provided-services-section-sub-container-3-child-2,
.provided-services-section-sub-container-3-child-3,
.provided-services-section-sub-container-3-child-4,
.provided-services-section-sub-container-3-child-5{
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(55, 59, 72);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 10px;
  &:hover{
    border-bottom: 1px solid #B0DA08;
    span{
      background-color:#B0DA08;
      a{
        color: #000000;
      }
    }
  }
}
.width-15{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid blue; */
}
.width-30{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
/* .num-para-container{
  float: left;
} */
.provided-services-section-num-para{
  color: #ffffff;
  font-size: 20px;
  margin-bottom: -10px;
  margin-top: 0;
}
.provided-services-section-h3{
  color: white;
  margin-bottom: 0;
  font-weight: 400;
}
.provided-services-section-h1{
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.provided-services-section-para-gray-color{
  color: rgb(128, 121, 121);
  font-size: 16px;
  width: 100%;
}
.provided-services-section-span{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B1B1C;
    width: 70%;
    height: 50px;
    border-radius: 5px;
  a{
    text-decoration: none;
    font-size: 30px;
      color: #ffffff;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
/* Provided Services Section styling ends here */


/* Working Process Section styling starts here */
  .working-process-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 90px 10px 100px 10px;
    background-image: url(/assets/images/about-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .working-process-section-sub-container-1,
  .working-process-section-sub-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    h2{
      color:#B0DA08;
      font-weight: 400;
    }
    h1{
      color: #ffffff;
      text-align: center;
      font-size: 27px;
      font-weight: 500;
      margin-top: 10px;
      width: 100%;
    }
  }
  .working-process-section-sub-container-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

  }
  .working-process-section-sub-container-3-child-1,
  .working-process-section-sub-container-3-child-2,
  .working-process-section-sub-container-3-child-3{
    border: 1px solid rgb(49, 48, 48);
    border-radius: 10px;
    padding: 0 28px 20px 28px;
    &:hover{
      border-color: #B0DA08;
    }
      h1{
        color: white;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p{
        color: rgb(169, 163, 163);
        font-size: 16px;
        margin-top: 0;
      }
      ul{
        color: rgb(169, 163, 163);
        font-size: 14px;
        li::marker{
          font-size: 25px;
          color:#B0DA08;
        }
      }
  }
/* Working Process Section styling ends here */


/* Testimonial section styling starts here  */
.testimonial-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 90px 10px 120px 10px;
  background-color: #141410;
}
.testimonial-section-sub-container-1,
.testimonial-section-sub-container-2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
      color:#B0DA08;
      font-weight: 400;
    }
    h1{
      color: #ffffff;
      text-align: center;
      font-size: 27px;
      font-weight: 500;
      margin-top: 10px;
      width: 100%;
    }
}

.testimonial-section-sub-container-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px 35px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-image: url(/assets/images/about-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.aside-div-with-15{
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
    }
  }
}
.center-div-with-50{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  left: 0px;
  position: absolute;
  /* border: 1px solid blue; */
  border-radius: 10px;
  background-color: rgba(26, 26, 26, 0.9);
}
.quote-ratings{
  /* background-image: url(/assets/images/quote.png);
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;
}
.fa-star{
  color: #B0DA08;
  font-size: 18px;
  padding-left: 3px;
}
.quote-ratings-1st-para{
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
}
.quote-ratings-h2{
  color:#B0DA08;
  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 5px;
}
.quote-ratings-2nd-para{
  color: rgb(169, 163, 163);
  font-size: 18px;
  margin-top: -10px;
}
.testimonial-section-sub-container-3-child-2-child-2{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-right: 10px;
  /* border: 1px solid blue; */
}
.testimonial-slide-tracker-container{
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}
.outer-circle-testimonial-slide-tracker{
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    border: 1px solid #B0DA08;
    div{
      background-color: #B0DA08;
    }
  }
}
.inner-circle-testimonial-slide-tracker{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
/* Testimonial section styling ends here  */


/* My Blog section styling starts here  */
.my-blog-section{
  background-image: url(/assets/images/about-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 130px 10px 100px 10px;
}
.my-blog-section-sub-container-1{
  width: 37%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.my-blog-section-sub-container-1-child-1{
  width: 100%;
  display: flex;
  align-items: center;
  h2{
    color:#B0DA08;
    font-weight: 400;
  }
}
.my-blog-section-sub-container-1-child-2{
  width: 100%;
  display: flex;
  align-items: center;
  h1{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
  }
}
.my-blog-section-sub-container-1-child-3{
  margin: 10px 0 40px 0;
}
.my-blog-section-sub-container-2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-blog-section-sub-container-2-child-1{
  border-top: 1px solid rgb(49, 48, 48);
  &:hover{
    border-top: 1px solid #B0DA08;
  }
}
.my-blog-section-sub-container-2-child-1,
.my-blog-section-sub-container-2-child-2,
.my-blog-section-sub-container-2-child-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 25px 0;
  border-bottom: 1px solid rgb(49, 48, 48);
  &:hover{
    border-bottom: 1px solid #B0DA08;
    .eye-icon{
      border: 1px solid #B0DA08;
    }
    .fa-eye{
      color: #B0DA08;
    }
    h1{
      color:#B0DA08;
    }
  }
    p{
      color: rgb(169, 163, 163);
      font-size: 16px;
      border: 1px solid rgb(49, 48, 48);
      border-radius: 20px;
      width: 47%;
      display: flex;
      padding: 6px 0;
      justify-content: center;
      align-items: center;
    }
    a{
      text-decoration: none;
    }
    h1{
      color: #ffffff;
      font-size: 18px;
      margin-top: 5px;
    }
}
.width-40{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid blue; */
}
.width-40 > a{
  display: flex;
  justify-content: center;
}
.image-container{
  img{
    width: 75%;
    height: 100%;
  }
}
.width-16{
  width: 100%;
}
.eye-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}
.eye-icon{
  width: 60px;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.fa-eye{
  color: #ffffff;
}
/* My Blog section styling ends here  */


/* Get In Touch section styling starts here  */
.get-in-touch-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #141410;
  width: 100%;
  padding: 120px 20px 120px 20px;
}
.get-in-touch-section-sub-container-1{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(49, 48, 48);
  border-radius: 10px;
  padding: 0;
  h1{
    color: #ffffff;
    font-size: 150px;
    font-weight: 400;
    margin: -35px;
  }
}
.get-in-touch-section-sub-container-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.get-in-touch-section-sub-container-2-child-1,
.get-in-touch-section-sub-container-2-child-2{
  width: 50%;
  a{
    text-decoration: none;
  }
  p{
    color: white;
    font-size: 22px;
  }
}
.get-in-touch-section-sub-container-2-child-1-child-1{
  width: 100%;
  p{
    width: 75%;
  }
}
.get-in-touch-section-sub-container-2-child-1-child-2{
  margin-top: 50px;
  width: 100%;
  a{
    width: 100%;
    color: #ffffff;
    font-size: 32px;
  }
}
.get-in-touch-section-sub-container-2-child-2{
  display: flex;
  gap: 30px;
}
.get-in-touch-section-sub-container-2-child-2-child-1,
.get-in-touch-section-sub-container-2-child-2-child-2{
  width: 100%;
  div{
    border: 1px solid rgb(49, 48, 48);
    border-radius: 10px;
    width: 100%;
    margin-top: 30px;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color ease-in-out 0.6s;
    &:hover{
      background-color: #B0DA08;
      p{
        color: #000000;
      }
    }
  }
}
/* Get In Touch section styling ends here  */

/* Footer styling starts here  */
footer{
  background-image: url(/assets/images/about-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  p{
    color: #ffffff;
  }
  .yellow > a{
    color:#B0DA08;
    text-decoration: none;
  }
}
.footer-div-flex{
  display: flex;
  gap: 40px;
  align-items: center;
}
.footer-links{
  color: #ffffff;
  text-decoration: none;
}
.footer-div-yellow-bg{
  background-color: #B0DA08;
  padding: 6px 14px;
  border-radius: 5px;
  span{
    font-size: 25px;
  }
  &:hover{
      cursor: pointer;
    }
}
/* Footer styling ends here  */




/* Media Queries */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* NAV Element Starts*/
  .nav-bar{
    height: 70px;
  }
  .logo-container{
    justify-content: center;
    padding-left: initial;
    a{
      justify-content: center;
      padding-left: initial;
    }
  }
  .logo{
    max-width: 100%;
    max-height: 37%;
  }
  .let-talk{
  max-height: 47%;
    a{
      font-size: 18px;
    }
  }
  .fa-bars-container-mobile{
    display: none;
  }
  .fa-bars-container{
    width: 25%;
    max-height: 58%;
    padding: 29px;
  }
  /* NAV Element End */

  /* Hero Section Starts */
  .hero-section{
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
  .hero-section-aside{
    display: flex;
  }
  #hero-section-1st-h1,#hero-section-2nd-h1{
    font-size: 90px;
  }
  #hero-section-2nd-h1{
    margin-top: -30px;
  }
  .hero-section-main-para-container{
  width: 60%;
  }
  .hero-section-main-para{
  color: #ffffff;
  font-size: 23px;
  span{
    font-size: 30px;
  }
  }
  .hero-section-main-para-2{
    line-height: 0;
  }
  .animated-video-btn-container{
    p{
      font-size: 23px;
    }
  }
  .video-div-main-parent{
      width: 120px;
      height: 120px;
    }
    .fa-play{
      font-size: 50px;
    }
    .arrow-img-animate{
      height: 70px;
    }
    .hero-section-sub-container-2{
    width: 40%;
    }
  /* Hero Section Ends */

  /* About Section Starts */
  .about-section-child-2 > h1{
      font-size: 37px;
    }
  .about-section-child-3{
    flex-wrap: nowrap;
    gap: 25px;
  }
  .bio-data-button{
    font-size: 18px;
    width: auto;
    height: 100%;
    padding: 22px 40px;
  }
  /* About Section Ends */
  
  /* Info Display Section Starts */
  .about-info-display-section-sub-container{
    flex-direction: row;
    padding: 30px 40px 60px 40px;
  }
  .about-info-display-section-sub-container-child-1{
    width: 40%;
    img{
      width: 90%;
      height: 90%;
    }
  }
  .about-info-display-section-sub-container-child-2{
    width: 60%;
  }
  .about-info-display-section-sub-container-child-2-child-2-flex-childs{
  flex-direction: row;
  }
  .contacts-container{
    width: 47%;
  }
  /* Info Display Section Ends */

  /* Awards Section Starts */
  .awards{
    width: 100%;
    padding: 70px 20px 100px 20px;
    h1{
        font-size: 44px;
      };
  }
  #awards-section-sub-container-1-para{
    a{
      gap: 10px;
      font-size: 20px;
    }
  }
  .awards-section-sub-container{
    p{
      font-size: 20px;
    }
  }
  /* Awards Section Ends */

  /* Complete Project section starts */
  .complete-project-section{
    padding: 90px 20px 100px 20px;
  }
  .complete-project-section-sub-container-2{
    width: 80%;
    h1{
      font-size: 60px;
    }
  }
  .complete-project-section-sub-container-3{
    flex-direction: row;
  }
  .complete-project-section-sub-container-3-child{
    width: 50%;
  }
  .h1-white-30px{
    font-size: 30px;
    height: 65px;
    margin-top: -20px;
    width: 97%;
    padding-left: 20px;
    span{
      width: 10%;
      height: 60px;
      margin-bottom: 50px;
      padding: 0;
    }
  }
  .animated-yellow-circle-container{
    width: 210px;
    height: 210px;
  }
  .animated-yellow-circle-container-child{
      width: 205px;
      height: 205px;
    }
  .animated-yellow-circle-container-child-1st-para{
    font-size: 40px;
  }
  .animated-yellow-circle-container-child-2nd-para{
    font-size: 17px;
  }
  /* Complete Project section ends */

  /* Need A Project Section Starts*/
  .need-a-project-section{
    flex-direction: row;
    gap: 60px;
    padding: 70px 20px 100px 20px;
  }
  .need-a-project-section-sub-container-1{
    width: 65%;
  }
  .need-a-project-section-sub-container-1-child-2{
    h1{
      font-size: 60px;
      margin-top: 30px;
      width: 80%;
      line-height: 60px;
    }
  }
  .need-a-project-section-sub-container-2{
    width: 35%;
    img{
      width: 98%;
      height: auto;
    }
  }
  /* Need A Project Section ends*/

  /* Provided Services Section Starts */
  .provided-services-section{
    padding: 90px 20px 120px 20px;
  }
  .provided-services-section-sub-container-2{
    h1{
      font-size: 60px;
      margin-top: 10px;
      width: 80%;
      line-height: 70px;
    }
  }
  .provided-services-section-sub-container-3-child-1,
  .provided-services-section-sub-container-3-child-2,
  .provided-services-section-sub-container-3-child-3,
  .provided-services-section-sub-container-3-child-4,
  .provided-services-section-sub-container-3-child-5{
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    padding: 35px 0;
  }
  .provided-services-section-num-para{
    margin-bottom: initial;
    margin-top: initial;
  }
  .width-15{
    width: 10%;
    justify-content: center;
  }
  .width-30{
    width: 40%;
  }
  .provided-services-section-num-para{
    font-size: 20px;
  }
  .provided-services-section-h3{
    margin-bottom: 0;
  }
  .provided-services-section-h1{
    font-size: 38px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
  }
  .provided-services-section-para-gray-color{
    font-size: 16px;
    width: 82%;
  }
  .provided-services-section-span{
      width: 50%;
      height: 60px;
    a{
      font-size: 30px;
    }
  }
  /* Provided Services Section Starts */

  /* Working Process Starts */
   .working-process-section{
      padding: 90px 20px 100px 20px;
    }
    .working-process-section-sub-container-1,
    .working-process-section-sub-container-2{
      width: 100%;
      h1{
        font-size: 60px;
        font-weight: 600;
        margin-top: 10px;
        width: 75%;
        line-height: 70px;
      }
    }
    .working-process-section-sub-container-3{
      flex-direction: row;
      gap: 30px;
    }
    .working-process-section-sub-container-3-child-1,
  .working-process-section-sub-container-3-child-2,
  .working-process-section-sub-container-3-child-3{
        h1{
          font-size: 39px;
          margin-bottom: 10px;
        }
    }
  /* Working Process Ends */

  /* Testimonial Section Starts */
  .testimonial-section{
    padding: 90px 20px 120px 20px;
  }
  .testimonial-section-sub-container-1,
  .testimonial-section-sub-container-2{
      h1{
        font-size: 60px;
        font-weight: 500;
        margin-top: 10px;
        width: 75%;
        line-height: 70px;
      }
  }
  .testimonial-section-sub-container-3{
    position: initial;
    padding: 30px;
  }
  .center-div-with-50{
    width: 60%;
    position: initial;
    height: initial;
    padding-left: initial;
    left: initial;
    border-radius: unset;
    background-color: unset;
  }
  .aside-div-with-15{
    gap: 150px;
    div{
      img{
        width:initial;
      }
    }
  }
  .quote-ratings{
    background-image: url(/assets/images/quote.png);
    background-repeat: no-repeat;
  }
  .fa-star{
    font-size: 18px;
  }
.quote-ratings-1st-para{
    font-size: 20px;
    font-weight: initial;
    margin-top: 30px;
  }
  .quote-ratings-h2{
  font-size: 23px;
  margin-top: 20px;
  }
  .quote-ratings-2nd-para{
    font-size: 18px;
    margin-top: 0;
  }
  .testimonial-section-sub-container-3-child-2-child-2{
    align-items: center;
    padding-right: unset;
  }
  /* Testimonial Section Ends */

  /* My Blog section starts here  */
  .my-blog-section{
    flex-direction: row;
    justify-content: space-between;
    padding: 130px 20px 100px 20px;
  }
  .my-blog-section-sub-container-1-child-2{
    h1{
      font-size: 60px;
      font-weight: 400;
      line-height: 55px;
    }
  }
  .my-blog-section-sub-container-1-child-3{
    margin: 10px 0 0 0;
  }
  .my-blog-section-sub-container-2{
    width: 65%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .my-blog-section-sub-container-2-child-1,
  .my-blog-section-sub-container-2-child-2,
  .my-blog-section-sub-container-2-child-3{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    padding: 25px 0;
    &:hover{
      border-bottom: 1px solid #B0DA08;
      .eye-icon{
        border: 1px solid #B0DA08;
      }
      .fa-eye{
        color: #B0DA08;
      }
      .image-container{
        img{
          display: initial;
        }
      }
      h1{
        color:#B0DA08;
      }
    }
      p{
        color: rgb(169, 163, 163);
        font-size: 16px;
        border: 1px solid rgb(49, 48, 48);
        border-radius: 20px;
        width: 50%;
        display: flex;
        padding: 6px 0;
        justify-content: center;
        align-items: center;
      }
      h1{
        font-size: 30px;
        margin-top: 5px;
      }
  }
  .width-40{
    width: 40%;
    /*flex-direction: column;
    justify-content: center; */
    align-items:flex-start;
  }
  .image-container{
    img{
      display: none;
      width: 100%;
      height: 100%;
    }
  }
  .width-16{
    width: 16%;
  }
  .eye-icon{
    width: 70px;
    height: 70px;
  }
  /* My Blog section ends here  */

}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav-links-container{
    display: flex;
  }
  


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
